
@{
    ViewBag.Title = "Спальни";
}

@{ string[] name_bedroom = { "Спальня ROUND янтарная береза", "Спальня ROUND серебристая береза", "Спальня MAIA янтарная береза", "Спальня MAIA серебристая береза", "Cпальня TREVISO avorio", "Cпальня TREVISO" };
    string[] path_bedroom = { "camel-round-sabbia-bg.jpg", "camel-round-bg.jpg", "camel-maia-sabbia-bg.jpg", "sp-maia2.jpg", "trevi1.gif", "treviso_night10b.jpg" };

    int count = 0;
    //    style = "padding-left:4%; "


    <div style="text-align:center">
        @{ for (int i = 0; i < path_bedroom.Length; i++)
            {
                <article style="text-align:center; display:inline-flex; justify-content:space-around; margin:5px; background: #5e5d5b;">
                    <section>
                        <a href="@Url.Action("Product_card")">
                            <img style="width:300px; padding:10px; margin: 0; " src="~/Models/@path_bedroom[i]" /><br />
                            <p style="color:white">
                                @name_bedroom[i]
                            </p>
                        </a>
                    </section>
                </article>
            }
        }
    </div>


}