@{
    ViewBag.Title = "Мебель Италии";
}
<div style="margin:15px;">
    <img style="width:100%; margin:auto; margin-top:3px;" src="~/Models/camelgroup1.png" />

    <center>
        <h1 style="color:#fff;">Мебель из Италии</h1>
        <div class="h3">Салон-магазин итальянской мебели</div>
        <p align="justify" class="bottom">&nbsp;&nbsp;&nbsp;&nbsp;Наш салон итальянской мебели предлагает мебель из Италии со склада в Москве и на заказ (спальни, мебель для гостиной, элитная мебель, итальянская мягкая мебель, детские комнаты из Италии, итальянские стенки и гостиные, мебель для кухни). Мы работаем более чем с 800 фабриками-поставщиками итальянской мебели. Самые популярные модели всегда имеются в наличии на нашем складе в Москве. Мы также обеспечиваем минимальные сроки выполнения заказов. Наши менеджеры помогут Вам подобрать оптимальный вариант обстановки Вашего дома, помогут обустроить правильно спальню, кухню, гостиную или другую комнату. Вся мебель Италии, купленная в нашем салоне обеспечивается профессиональной доставкой и сборкой, а также гарантийным обслуживанием. Цены на сайте приведены с учетом скидок.</p>
    </center>

    <table width="100%" height="150px" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td bgcolor="#5e5d5b" class="blocks-txt" style="padding: 20px 5px 10px 5px; font-size: 12px">
                    <div class="h3">ИТАЛЬЯНСКИЕ ФАБРИКИ</div>
                    <div id="fabrics">
                        <img src="~/Models/pregno-logo.png" class="foto" alt="PREGNO" width="100">
                        <img src="~/Models/tosconova_logo_400.png" class="foto" alt="TOSCONOVA" width="250">
                        <img src="~/Models/turri_logo.png" class="foto" alt="TURRI" width="103">
                        <img src="~/Models/stella_del_mobile_logo.png" class="foto" alt="STELLA DEL MOBILE" width="200">
                        <img src="~/Models/cantiero-logo.png" class="foto" alt="CANTIERO" width="200">
                        <img src="~/Models/logo_frigerio.png" class="foto" alt="VITTORIA FRIGERIO" width="100">
                        <img src="~/Models/logo_new_carp.png" class="foto" alt="CARPANELLI" width="150">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="txt_on_main" style="color:#fff; margin-top:20px">
        <p><strong>Итальянская мебель</strong> уже несколько столетий является эталоном совершенства и показателем статуса владельцев. Она делает любой, даже самый скромный дом уютным, а интерьер – стильным. Роскошные элитные изделия сегодня предлагают многие магазины в Москве. Однако, для того, чтобы быть уверенным в аутентичности и безукоризненном качестве продукции, приобретать её стоит только у официальных дилеров ведущих производителей Италии. <strong>Компания «Мебель Италии»</strong> предлагает купить в своём салоне, а также в интернет-магазине великолепную мебель, изготовленную на лучших итальянских мебельных фабриках, с которыми нас связывает многолетнее успешное сотрудничество.</p>
        <h2>Наш ассортимент</h2>
        <p>В каталоге нашей компании представлены потрясающие коллекции от Angelo Cappellini, Egidio Lunardelli, Cassina, Ditre Italia и других известных брендов. Мы предлагаем:</p>
        <ul>
            <li>Стенки, диваны и кресла для гостиной;</li>
            <li>Гарнитуры для детской комнаты, кухни, прихожей и спальни;</li>
            <li>Столы и шкафы для кабинета.</li>
        </ul>
        <p>К приобретённой обстановке, изготовленной в замечательных исторических традициях мастеров-краснодеревщиков, в нашем салоне можно подобрать выполненные в том же стиле аксессуары, великолепные предметы декора и разнообразные светильники (напольные, настенные, настольные, потолочные).</p>
        <h2>Отличительные особенности мебели из Италии</h2>
        <p>Среди многочисленной аналогичной продукции <strong>изделия итальянских мастеров</strong> выделяются такими преимуществами, как:</p>
        <ul>
            <li>
                Изумительный дизайн, имеются гарнитуры, выполненные в духе:
                <ul>
                    <li>Аристократичной классики;</li>
                    <li>Утончённого модерна;</li>
                    <li>Затейливого рококо;</li>
                    <li>Колоритного кантри;</li>
                    <li>Лаконичных современных стилей;</li>
                </ul>
            </li>
            <li>Разнообразие цветов – от самых светлых до тёмных, преимущественно натуральных оттенков;</li>
            <li>Изысканность инкрустации и декора, а на некоторых предметах и <strong>ручной орнаментальной росписи</strong>;</li>
            <li>Надёжность механизмов, гарантирующая безотказную работу в течение длительного времени;</li>
            <li>Безопасность для здоровья человека, обеспеченная использованием только экологически чистых, натуральных материалов.</li>
        </ul>
        <p>Все эти качества по достоинству оценили покупатели, многие из которых стали постоянными клиентами нашего интернет-магазина.</p>
        <h2>Условия оформления заказа</h2>
        <p>Выбрать обстановку для дома можно в онлайн-каталоге, размещённом на нашем сайте. Несколько фото, прикреплённых к товарной карточке каждого изделия, позволяют детально рассмотреть каждый <strong>предмет гарнитура</strong>.</p>
        <p>Затем нужно:</p>
        <ul>
            <li>Добавить продукцию в корзину.</li>
            <li>Заполнить несложную форму.</li>
            <li>Оплатить покупку удобным для вас способом.</li>
        </ul>
        <p>В том случае, когда стоимость мягкой мебели, спального гарнитура или других предметов не укладывается в намеченный бюджет, обратитесь к нашим менеджерам. Они подберут на складе продукцию из распродажи по более низкой цене, а также ответят на все вопросы, касающиеся доставки, сборки и оплаты изделий.</p>
        <p>Стильные, респектабельные <strong>мебельные гарнитуры из салона «Мебель Италии»</strong> – это уют и красота вашего дома!</p>
    </div>

</div>

