@{
    ViewBag.Title = "Контакты";
}
<table width="100%" border="0" align="center" cellpadding="10" cellspacing="0">
    <tbody>
        <tr>
            <td valign="top" class="bottom link" style="padding: 5px 40px 30px 40px;">
                <font color="#FFF"><h1 style="text-align:center">контакты и схема проезда</h1></font>
                <h4>
                    ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "МЕБЕЛЬНЫЙ ЛЕГИОН"<br>
                    ОГРН    1077746290808<br>
                    ИНН/КПП 7728609640/772801001<br>
                    Юридический адрес: 117420, город Москва, Профсоюзная улица, дом 57, помещение хI комната 1<hr>
                </h4>
                Москва, Профсоюзная ул., д.57, м."Калужская",тел.:+7 (495) 798-92-74, +7 (495) 798-96-74. email:info@mebit.ru<br />
                часы работы: Пн-Сб  11.00 - 20.00, Вс 11.00 - 18.00<br />
                Оптовые продажи Camelgroup,
                тел.:
                +7 (495) 642-09-08<br/>
                <h1 style="text-align:center">Схема проезда</h1>
                <table cellspacing="2" cellpadding="2" border="0" align="center">
                    <tbody>
                        <tr>
                            <td >
                                <img src="~/Models/vitrina.jpg" style="width:700px;height:306px;">
                            </td>
                        </tr>

                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
