
@{

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Personal_Account</title>
</head>
<body>
    <article style="display: flex;">
        <section style="width: 300px;">
            <img src="/Models/dog1.png" style="width: 250px; margin: 30px;">
        </section>
        <section>
            <h1 style="margin-top: 15px;font-size: 32px;margin-left: 30px;">
                Личная информация
            </h1>
            <p style="margin-top: 15px;margin-left: 30px;">Имя:</p>
            <p style="margin-top: 15px;margin-left: 30px;">Почта:</p>
            <p style="margin-top: 15px;margin-left: 30px;">Логин:</p>
                <button style="margin-top: 15px;margin-left: 30px; width:100%">Редактировать данные</button><br />
                <button style="margin-top: 15px;margin-left: 30px; width:100%">Изменить пароль</button>
        </section>
    </article>
</body>
</html>
