
@{

    ViewBag.Title = "Товар";
}
<table>
    <tr>
        <td>
            <img src="~/Models/camel-round-bg.jpg" style=" width:500px; margin:10px;" />
        </td>
        <td>
            <table style="color:white">
                <tr>
                    <td>
                        <h1>
                            Спальня ROUND серебристая береза
                        </h1><hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        Vебель фабрики MODUM в нашем каталоге.
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        Страна-производитель: Италия
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        Мы рады предложить Вам лучшую мебель итальянской фабрики MODUM. Обратитесь к нашим консультантам, чтобы получить информацию обо всех вариантах комплектации, цене и сроках поставки Спальня ROUND серебристая береза (Италия).
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        Стоимость: 1000000000 руб
                        <hr />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button>Добавить в корзину</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
