
@{
    ViewBag.Title = "Пользователь";
}

<div style="width:auto">
    <table style="margin: 0 auto; padding-bottom:10px; padding-top:10px">
        <tr>
            <td>
                <h3 style="text-align:center; border-bottom:none; margin:0px; padding:0px">Вход</h3>
                <div>
                    <input placeholder="Логин" />
                </div>
                <div>
                    <input placeholder="Пароль" />
                </div>
                <button style="width:100%">Войти</button>
            </td>
        </tr>
        <tr>
            <td>
                <h3 style="text-align:center; border-bottom:none; margin:0px; padding:0px">Регистрация</h3>
                <div>
                    <input placeholder="Имя" />
                </div>
                <div>
                    <input placeholder="Почта" />
                </div>
                <div>
                    <input placeholder="Логин" />
                </div>
                <div>
                    <input placeholder="Пароль" />
                </div>
                <button style="width:100%">Регистрация</button>
            </td>
        </tr>
    </table>
</div>

